.search-repository-screen {
  padding: 2rem;
}

.search-title {
  font-size: 1.5rem;
  padding: 0 2rem;
}

.search-title-span {
  font-size: 2.5rem;
}

.search-user-container {
  margin-top: 1.5rem;
  width: 80%;
}

.search-user-input {
  margin-bottom: 2rem;
  padding: 0.8rem;
  width: 50%;
  min-width: 15rem;
}

.search-user-input:focus {
  outline: none;
}

.search-user-btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 3px solid rgb(56, 56, 56);
  min-width: 15rem;
}

.search-user-btn:focus {
  outline: none;
}

.disabled-search-user-btn {
  background-color: rgb(182, 181, 181);
  cursor: not-allowed;
}

.enabled-search-user-btn {
  background-color: #222222;
  color: #ffffff;
}

.enabled-search-user-btn:hover {
  background-color: rgb(56, 56, 56);
  transform: scale(1.1);
  transition: 300ms;
}

@media only screen and (min-width: 768px) {
  .search-title {
    font-size: 2rem;
  }
  .search-title-span {
    font-size: 3.5rem;
  }
  .search-user-container {
    margin-top: 4rem;
  }
}