.screen-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-item-style {
  background-color: rgb(179, 175, 172);
  border-radius: 1rem;
  border: none;
}