.repository-list-screen {
  padding: 5rem;
}

.repository-card-container {
  width: 100%;
}

.repository-card {
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding: 1.3rem 2rem;
  min-width: 40rem;
  cursor: pointer;
}

.repository-card:hover {
  transform: scale(1.1);
  transition: 300ms;
}