.repository-list-screen {
  padding: 3rem;
}

.repository-list-screen>p {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
}

.repository-card-list {
  padding-left: 0;
  width: 100%;
}


@media only screen and (min-width: 768px) { 
  .repository-list-screen {
    padding: 5rem;
  }
  .repository-list-screen>p {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}